discord.py~=1.7.2
git+https://github.com/Rapptz/discord-ext-menus
discord~=1.0.1
async-timeout==3.0.1
toml~=0.10.2
asyncio~=3.4.3
python-dateutil~=2.8.1
pytz~=2020.5
Pillow~=7.2.0
matplotlib~=3.4.2
seaborn~=0.11.1
pandas~=1.2.4
parsedatetime~=2.6
asyncpg~=0.23.0
done~=1.0.4